DATABASE_URL=postgres://postgres:postgres@localhost:5432/rust_queue
PASSWORD_PEPPER=secret
RUNNING_IN_CLOUD=false
RUST_LOG=info,tower_http=debug
JWT_SECRET=MOWucZWssD1TEV7dkFnpduuzrTrVPlrNuTxLbp6XDhg=
JWT_ACCESS_EXPIRY_MINS=60
JWT_REFRESH_EXPIRY_DAYS=7
CORS_ORIGINS="http://localhost:5173,http://localhost:3000,http://localhost:8080"